<p>Find me in app/views/collections/edit.html.erb</p>

<% if @collection.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

    <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @collection, local: true) do |f| %>
  <div class="title-and-buttons">
    <h2>Edit Collection</h2>
    <div class="buttons-container">
      <%= f.submit "Update", class: 'button' %>
    </div>
  </div>

  <div class="submission-content">
    <div class="labels-container">
      <div class="label"><%= f.label :name %>:</div>
    </div>
    <div class="content-container">
      <div><%= f.text_field :name, autofocus: true %></div>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'Cancel', collection_path(@collection), class: 'button back-btn' %>
