<p>Find me in app/views/sessions/home.html.erb</p>

<% if signed_in? %>
  <h1>Welcome <%= link_to current_user.username, user_path(current_user) %>!</h1>
  <div class="tile-container">
    <% if signed_in? %>
      <div class="tile"><%= link_to "All Users", users_path, class: 'tile-link' %></div>
      <div class="tile"><%= link_to "My Account", user_path(current_user), class: 'tile-link' %></div>
      <div class="tile"><%= link_to "All Submissions", submissions_path, class: 'tile-link' %></div>
      <div class="tile"><%= link_to "My Submissions", user_submissions_path(current_user), class: 'tile-link' %></div>
      <div class="tile"><%= link_to "All Collections", collections_path, class: 'tile-link' %></div>
      <div class="tile"><%= link_to "My Collections", user_collections_path(current_user), class: 'tile-link' %></div>
    <% end %>
  </div>
<% else %>
  <h1>Welcome!</h1>
  <div class="buttons-container">
    <%= link_to "Sign Up Here", signup_path, class: 'button' %>
    <%= link_to "Sign In Here", signin_path, class: 'button' %>
    <%= link_to "Login with GitHub", '/auth/github', method: :post, class: 'button github-button' %>
  </div>
<% end %>
