<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Sign In</h1>

<%= flash[:message] if flash[:message] %>

<%= form_with(scope: :user, url: signin_path, local: true) do |f| %>

  <div class="signin-content">
    <div class="labels-container">
      <div class="label">
        <%= f.label :email %>:
      </div>
      <div class="label">
        <%= f.label :password %>:
      </div>
    </div>

    <div class="content-container">
      <div>
        <%= f.email_field :email, required: true %>
      </div>
      <div>
        <%= f.password_field :password, required: true %>
      </div>
    </div>
  </div>

  <div class="signin-button-container">
    <div class="actions">
      <%= f.submit "Sign In", class: 'home-button' %>
    </div>
  </div>

<% end %>
