<p>Find me in app/views/users/edit.html.erb</p>

<h1>Edit Account</h1>

<% if @user.from_omniauth %>
  <h2>Records created via third party cannot be edited.</h2>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="signin-content">
    <div class="labels-container">
      <%= f.label :username, class: "label" %>
      <%= f.label :email, class: "label" %>
      <% unless @user.from_omniauth %>
        <%= f.label :password, class: "label" %>
        <%= f.label :password_confirmation, class: "label" %>
      <% end %>
    </div>

    <div class="content-container">
      <div>
        <%= f.text_field :username, disabled: @user.from_omniauth %>
      </div>
      <div>
        <%= f.email_field :email, disabled: @user.from_omniauth %>
      </div>
      <% if @user.from_omniauth %>
        <div>
          <%= f.password_field :password, disabled: true, value: "**********" %>
        </div>
      <% else %>
        <div>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.password_field :password_confirmation %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="signin-button-container">
    <%= f.submit "Update", disabled: @user.from_omniauth, class: 'button' %>
  </div>

<% end %>

<%= link_to 'Cancel', :back %>
