<p>Find me in app/views/submissions/new.html.erb</p>

<div id="submission-form">
  <h1>New Submission</h1>

  <%= form_with(model: @submission, url: submissions_path, local: true) do |f| %>
    <% if @submission.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

        <ul>
          <% @submission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <div class="field">
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </div>

    <div class="actions">
      <%= f.submit "Create Submission" %>
    </div>
  <% end %>

  <%= link_to "Back", submissions_path %>
</div>
