<h1> <%= @submission.title %></h1>
<h3>by: <%= link_to @submission.user.username, user_path(@submission.user) %></h3>

<p>
  <strong>Url:</strong>
  <%= link_to(@submission.url, @submission.url) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @submission.notes %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
