<!DOCTYPE html>
<html>
  <head>
    <title>Rolodev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if signed_in? %>
        <%= link_to "Home", root_path %> ⎮
        <%= link_to "My Account", user_path(current_user) %> ⎮
        <%= link_to "New Submission", new_submission_path %> ⎮
        <%= link_to "New Collection", new_collection_path %> ⎮
        <%= link_to "Sign Out", signout_path, method: "delete" %>
      <% end %>
    </header>

    <% flash.each do |key, value| %>
      <div class="flash-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

  </body>

</html>
